.wd-font{
    font-family: Arial, Helvetica, sans-serif;
}

.wd-center-margin{
    margin-left: 50px;
    margin-right: 50px;
}

.wd-bg-color{
    background-color: black;
}

.wd-border{
    border: 1px lightgray solid;
    margin: 0px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.wd-title{
    color: white;
    font-size: 20px;
    padding-left: 16px;
    padding-top: 12px;
}

.wd-text-area{
    padding-left: 12px;
}

.wd-author{
    font-size: 15px;
    color:white;
}

.wd-content{
    color:white;
    font-size: 15px;
    padding-right: 16px;
    width: 506px;
}

.wd-handler-underTitle{
    font-size: 13px;
    color: lightgray;
}

.wd-hander-right{
    font-size: 15px;
    color: lightgray;
    padding-left: 5px;
}

.wd-block{
    border-width: 1px;
    border-color: lightgray;
}
.wd-avatar{
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.wd-text-title{
    color:white;
    font-size: 15px;
    padding: 12px
}

.wd-inline-icons{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    width: 504px;
    padding-left: 60px;
}

.wd-icons{
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    color: grey;
    text-decoration: none;
}

.wd-icon-space{
    padding-left: 12px;
}

.wd-icon-highlighted{
    color: palevioletred;
}

.wd-text-content{
    color:lightgray;
    font-size: 15px;
    padding-left:12px;
    padding-bottom: 12px;
    padding-right: 12px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.wd-inline{
    display: flex;
    justify-content: space-between;
}

.wd-inline-left{
    display: flex;
    align-items: start;
    /*padding-left: 16px;*/
}

.wd-content-details{
    border: solid 1px lightgray;
    padding-bottom: 12px;
    border-radius: 40px;
    margin-left: 60px;
    margin-top: 12px;
    width: 504px;
}

.wd-image{
    height:264px;
    width:504px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom: lightgray 1px solid;
}

